.alignleft{
	float: left;
}
.alignright {
	float: right;
}
img{
	max-width: 100%;
	overflow: hidden;
}
h1{
	font-size: 20px;
}
.title{
	font-family: 'PT Sans Narrow',sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #eb911f;
	border-bottom: 1px solid red;
}
.post-title, .post-title a, .title, .title a{
	text-align: justify;
	margin-top: 0;

}


.container{
	max-width: 1140px;
}
