@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jq65b5');
	src:url('fonts/icomoon.eot?#iefix-jq65b5') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jq65b5') format('woff'),
		url('fonts/icomoon.ttf?-jq65b5') format('truetype'),
		url('fonts/icomoon.svg?-jq65b5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
	content: "\e600";
}
.icon-list2:before {
	content: "\e601";
}
.icon-numbered-list:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e604";
}
.icon-minus:before {
	content: "\e605";
}
.icon-shuffle:before {
	content: "\e606";
}
.icon-arrow-up-left:before {
	content: "\e607";
}
.icon-arrow-up:before {
	content: "\e608";
}
.icon-arrow-up-right:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
.icon-arrow-down-right:before {
	content: "\e60b";
}
.icon-arrow-down:before {
	content: "\e60c";
}
.icon-arrow-down-left:before {
	content: "\e60d";
}
.icon-arrow-right2:before {
	content: "\e60e";
}
.icon-arrow-left:before {
	content: "\e60f";
}
.icon-arrow-right3:before {
	content: "\e610";
}
.icon-facebook:before {
	content: "\e611";
}
.icon-facebook2:before {
	content: "\e612";
}
.icon-feed:before {
	content: "\e613";
}
.icon-feed2:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-googleplus:before {
	content: "\e616";
}
.icon-googleplus2:before {
	content: "\e617";
}
.icon-vimeo:before {
	content: "\e618";
}
.icon-vimeo2:before {
	content: "\e619";
}
.icon-vimeo3:before {
	content: "\e61a";
}
.icon-mail:before {
	content: "\e61b";
}
.icon-code:before {
	content: "\e61c";
}
.icon-embed:before {
	content: "\e61d";
}
.icon-indent-increase:before {
	content: "\e61e";
}
.icon-paragraph-justify:before {
	content: "\e61f";
}
.icon-paragraph-right:before {
	content: "\e620";
}
.icon-paragraph-center:before {
	content: "\e621";
}
.icon-paragraph-left:before {
	content: "\e622";
}
.icon-google-drive:before {
	content: "\e623";
}
.icon-arrow-left2:before {
	content: "\e624";
}
.icon-close:before {
	content: "\e625";
}
.icon-link:before {
	content: "\e626";
}
.icon-pencil:before {
	content: "\e627";
}
.icon-home:before {
	content: "\e628";
}
.icon-grid:before {
	content: "\e629";
}
.icon-grid-alt:before {
	content: "\e62a";
}
.icon-list3:before {
	content: "\e62b";
}
.icon-star:before {
	content: "\e603";
}
.icon-cog:before {
	content: "\e640";
}
.icon-expand:before {
	content: "\e641";
}
.icon-spinner:before {
	content: "\e642";
}
.icon-spinner2:before {
	content: "\e643";
}
.icon-spinner3:before {
	content: "\e644";
}
.icon-cog2:before {
	content: "\e645";
}
.icon-eye:before {
	content: "\e646";
}
.icon-spinner4:before {
	content: "\e647";
}
.icon-spinner5:before {
	content: "\e648";
}
.icon-arrow-down2:before {
	content: "\e649";
}
.icon-checkmark:before {
	content: "\e64a";
}
.icon-spam:before {
	content: "\e64b";
}
.icon-cancel-circle:before {
	content: "\e64c";
}
.icon-checkmark-circle:before {
	content: "\e64d";
}
.icon-star2:before {
	content: "\e64e";
}
.icon-star3:before {
	content: "\e64f";
}
.icon-paperclip:before {
	content: "\e62c";
}
.icon-shuffle2:before {
	content: "\e62d";
}
.icon-arrow:before {
	content: "\e62e";
}
.icon-arrow2:before {
	content: "\e62f";
}
.icon-retweet:before {
	content: "\e630";
}
.icon-cross:before {
	content: "\e631";
}
.icon-checkmark2:before {
	content: "\e632";
}
.icon-facebook3:before {
	content: "\e633";
}
.icon-vimeo4:before {
	content: "\e634";
}
.icon-vimeo5:before {
	content: "\e635";
}
.icon-twitter2:before {
	content: "\e636";
}
.icon-linkedin:before {
	content: "\e637";
}
.icon-tumblr:before {
	content: "\e638";
}
.icon-tumblr2:before {
	content: "\e639";
}
.icon-skype:before {
	content: "\e63a";
}
.icon-skype2:before {
	content: "\e63b";
}
.icon-arrow-right4:before {
	content: "\e63c";
}
.icon-pause:before {
	content: "\e63d";
}
.icon-twitter3:before {
	content: "\e63e";
}
.icon-linkedin2:before {
	content: "\e63f";
}
.icon-googleplus3:before {
	content: "\e650";
}
.icon-facebook4:before {
	content: "\e651";
}
.icon-facebook5:before {
	content: "\e652";
}
.icon-pinterest:before {
	content: "\e653";
}
.icon-googleplus4:before {
	content: "\e654";
}
.icon-smashing:before {
	content: "\e655";
}
.icon-cycle:before {
	content: "\e656";
}
.icon-warning:before {
	content: "\e657";
}
.icon-rss:before {
	content: "\e658";
}
.icon-cog3:before {
	content: "\e659";
}
.icon-star4:before {
	content: "\e65a";
}
.icon-star5:before {
	content: "\e65b";
}
